@model IEnumerable<PersonalBookLibraryWeb.Models.Book>

<h2>Library</h2>
<p><a asp-action="Create">Add the book</a></p>
<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.BookNameSort">
                Book name
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.AuthorNameSort">
                Author name
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.RatingSort">
                Rating
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.ShortDescriptionSort">
                Description
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.SectionSort">
                Section
            </a>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (string.IsNullOrEmpty(item.ShortDescription)) item.ShortDescription = "None";

        <tr>
            <td>@item.BookName</td>
            <td>@item.AuthorName</td>
            <td>@item.Rating</td>
            <td>@item.ShortDescription</td>
            <td>@item.Section</td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="Post" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>